{% extends 'base.html' %}
{% load static %}

{% block title %}
Volunteer Register
{% endblock title %}

{% block body %}
<div class="container py-5">
    <h2 style="margin-top: 70px;">Volunteers Registration</h2>
    <hr>
    <form>
        <div class="form-group">
            <label for="name">Full Name</label>
            <input type="text" class="form-control" name='name' id="name">
        </div>
        <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" class="form-control" name='email' id="email">
        </div>
        <div class="form-group">
            <label for="contact">Contact Number</label>
            <input type="number" class="form-control" name="contact" id="contact">
        </div>
        <div class="form-group">
            <label for="area">Volunteer Area</label>
            <select id="area" class="form-control">
                <option disabled selected>Choose...</option>
                <option>...</option>
            </select>
        </div>
        <div class="form-group">
            <label for="image">Example file input</label>
            <input type="file" class="form-control-file" name="image" id="image">
        </div>
        <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
</div>
{% endblock body %}